<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplicació sucursals</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb( 153, 209, 192 );">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	    <ul class="navbar-nav container">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/sucursal/getAll}" style="color:black">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/sucursal/formCrearSucursal}" style="color:black">Afegir Sucursal</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	
    <div class="container">
        <div class="row">
		    <div class="col-5 mt-5">
			    <div class="border border-secondary rounded p-4">
			    	<h1 class="">Sucursal</h1>
					<span>Nom Sucursal: </span><span th:text="${sucursal.nomSucursal}"></span>
					<br><br>
			        <span>País Sucursal: </span><span th:text="${sucursal.paisSucursal}"></span>
			        <br><br>
					<span>Tipus Sucursal: </span><span th:text="${sucursal.tipusSucursal}"></span>
					<br>
			    </div>
			</div>
		 </div>
	 </div>		
    </div>
</body>
</html>